.searchForm {
  display: flex; 
  align-items: center;
  max-width: 600px;
  width: 90%;
  height: 60px;
  margin: -40px auto 0;
}

.searchInput {
  flex-grow: 1;
  height: 100%;
  font-size: 24px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 0 15px;
  background-color: var(--input-bg);
  color: var(--input-text);
}

.searchInput::placeholder {
  color: #999;
  opacity: 1;
  font-size: 24px;
}

.submitBtn {
  flex-shrink: 0;

  width: 90px;
  height: 100%;
  box-sizing: border-box;
  font-size: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
}
@media (max-width: 768px) {
  .searchForm {
    height: 50px;
    width: 90vw;
    margin: -30px auto 0;
  }

  .searchInput {
    font-size: 18px;
  }

  .searchInput::placeholder {
    font-size: 18px;
  }

  .submitBtn {
    width: 70px;
    font-size: 16px;
  }
}
